<html>
	<body>
		<input type="text" id="client-input" />
		<input type="button" value="Send" onclick="onSend()" />

		<div>
			<ul id="listaQuery"></ul>
		</div>

		<div>
			<img height="1000px" width="1000px" id="imagine" />
		</div>
	</body>
	<script>
		function onSend() {
			let input = document.getElementById('client-input').value;
			if (location == '') {
			} else {
				var xhttp = new XMLHttpRequest();
				xhttp.onreadystatechange = function() {
					if (this.readyState == 4 && this.status == 200) {
						response = JSON.parse(xhttp.responseText);
						document.getElementById('imagine').src = 'data:image/jpeg;base64,' + response.image;

						var parent = document.getElementById('listaQuery');

						response.searchResponses.forEach(item => {
							var child = document.createElement('A');
							child.href = item.link;
							child.innerText = item.title;
							var liChild = document.createElement('LI');
							liChild.appendChild(child)

							parent.appendChild(liChild);
						});
					}
				};
				xhttp.open(
					'GET',
					'https://8080-dot-6924241-dot-devshell.appspot.com/compute?query=' + input,
					true
				);
				xhttp.send();
			}
		}
	</script>
</html>
